@media (min-width: 1200px) {
  .container {
    max-width: 1220px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  #second {
    display: none !important;
  }
  #first {
    display: none;
  }
  #spellingbee {
    display: none;
  }
  #nav-container3 {
    display: none;
  }
  #nav1-header-links {
    display: none;
  }
}

#container {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

#first {
  padding: 10px 5px 10px 10px;
  box-sizing: content-box;
  margin-bottom: 40px;
}
#second {
  display: grid;
  justify-content: center;
  padding-left: 20px;
  border-left: 1px solid grey;
}
#third {
  display: grid;
  gap: 30px;
  > div {
    /* display: grid; */
    /* gap: 10px; */
    border-bottom: 1px solid black;
  }
}
#third > div:nth-last-child(1) {
  border-bottom: none;
}
.card1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* .img1{
    position: relative;
    top: 30%;
    left: -100px;
  } */
.icard2 {
  top: 35%;
  left: 51%;
  transform: translate(-0%, -12%);
}
.details > a {
  text-decoration: none;
  color: black;
}
.title > a {
  text-decoration: none;

  color: black;
}
.title > a:hover {
  text-decoration: underline;
}
.card2 {
  width: 300px;
  justify-content: center;
}
.card3 {
  display: flex;

  justify-content: space-around;
}
.simg {
  margin-inline: auto;
}

/* sanju's csss */
#container1 {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  padding: 10px 30px 10px 30px;
}
.space {
  margin-left: 20px;
}
button {
  color: white;
  background-color: rgb(50, 104, 145);
  padding: 11px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 500px;
  border: none;
  cursor: pointer;
}
button > a {
  color: white;
  background-color: rgba(87, 100, 136, 0.685);
  font-size: 10px;
  font-weight: 200;
  text-decoration: none;
}
span,
img {
  cursor: pointer;
}

#display {
  position: absolute;
}
.display {
  visibility: hidden;
}

#subDate {
  text-align: start;
  align-self: start;
}
#Date {
  font-weight: bolder;
}
#container1 > div:nth-child(2) {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 58;
  font-size: 11px;
  font-style: normal;
  margin-right: 80px;
}
#container1 span:hover {
  color: black;
  /* padding: 20px; */
  border-radius: 5px;
  background-color: rgb(241, 239, 239);
}

button:hover {
  background-color: rgba(67, 76, 99, 0.685);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

#container2 {
  display: flex;
  text-align: center;
  /* border:1px solid green; */
  height: 10%;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-size: 11px;
  margin: auto;
  /* margin-bottom:-50px; */
}

/* container-3 's css new */

.nav-container3 {
  width: 100%;
  display: flex;
  column-gap: 3%;
  border-bottom: 1px solid grey;

  padding: 13px 0px 13px 0px;
  justify-content: center;
}
.nav-link {
  font-size: 13px;
  display: inline-block;
  position: relative;
  width: fit-content;
}
.nav-link .nav-link-down-arrow {
  position: absolute;
  top: 60%;
  font-size: 18px;
  transform: translateY(-50%);
}
.submenu {
  width: 100%;
  z-index: 33;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 22px !important;
  /* background-color: green; */
}
.container-item {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-left: 7%;
  margin-right: 10%;
  padding: 10px;
  cursor: pointer;
  /* border:1px solid; */
}
.container-item > div {
  /* border:1px solid; */
  width: 15%;
  /* each inside div width set */
}
.nav-block-item {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  /*border:1px solid;*/
}
.h3-titles {
  font-size: 17px;
  color: rgb(118, 118, 118);
}

.nav-link:hover + .submenu,
.submenu:hover {
  display: block;
}

/* audio */
#nav-Audio {
  margin-left: 0px;
}

/* adjust spacing */
.ptagSPacing {
  margin: 5px;
  padding: 0px;
}
.ptagSPacing:hover {
  text-decoration: underline;
}

/* class img-content flex */
.img-content-class {
  display: flex;
}

/*newsetllers */
.content-h6-p {
  margin-left: 10px;
  text-decoration: none;
}
.ptag-content {
  margin-top: 4px;
  padding-top: 0px;
}
/* for games p tag - align-center */
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

/* height width img tag in side hover */
.HwImg {
  width: 60px;
  height: 60px;
}

.nav-block-item-space {
  margin-left: 5%;
}
/*  end of container-3 */

#stock {
  width: 150px;
}

/* main css */
.firstcard {
  display: flex;
  justify-content: space-around;
}
#tfirst {
  display: grid;
  gap: 30px;
  margin-bottom: 40px;
}
#tfirst > div:nth-of-type(1) .title {
  font-size: 19px;
}

.topics {
  width: 215px;
}
#fourth {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
#fourth > div > img {
  width: 215px;
}
#input {
  height: 25px;
}
/* Vaibhav css */

footer img {
  height: 35px;
  margin-left: 20px;
  padding: 10px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1220px;
    margin: auto;
  }
}

footer {
  display: flex;
  justify-content: space-between;
}
footer > div > ul {
  margin: 0;
  list-style: none;
}
ul > :nth-child(1) {
  font: 16px;
  font-weight: bolder;
  margin-top: 10px;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
}
ul > :nth-child(1):hover {
  color: rgb(238, 157, 51);
}
ul > li {
  line-height: 25px;
  width: fit-content;
  font-size: 13px;
  color: #000000;
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
}
#forth {
  border-left: 1px solid rgb(199, 194, 194);
}
.icon {
  font-size: 14px;
  font-weight: bolder;
}
ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: brown;
}
#copyrite {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  width: fit-content;
  gap: 10px;
}
#copyrite a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
  color: rgb(68, 66, 66);
  font-family: nyt-franklin, Arial, Helvetica, sans-serif;
}
#copyrite > a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
}

@media screen and (width<=770px) {
  footer > div {
    display: none;
  }
  #responsive {
    display: block;
    font: 14px;
    font-weight: bolder;
    margin-top: 10px;
    font-family: nyt-franklin, Arial, Helvetica, sans-serif;
    line-height: 50px;
  }
}
@media screen and (width>= 771px) {
  #responsive {
    display: none;
  }
}

/* shubham login css */
/* Styles for the popup */
#popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  z-index: 2;
  overflow-y: auto;
  text-align: left;
}
/* Styles for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#subscribe-btn {
  width: 90%;
  color: white;
  padding: 10px;
  background-color: black;
  border-radius: 8px;
}
.a-links {
  text-decoration: none;
  color: #222222;
  font-style: unset;
}
.email-addres {
  text-decoration: underline;
  color: black;
}
#emailgetfromlocal {
  text-decoration: underline;
  font-weight: 800;
}
.titles-h2h3 {
  font-size: 17px;
  margin-top: 30px;
}
.log-out {
  width: 70%;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: black;
  font-size: 16px;
  border-radius: 10px;
}
/* laoding css */
#loading {
  height: 300px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
