body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#navigation-login{
   background-color: #fff;
   text-align: center;
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px solid; */
   height:10vh;
   box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
   font-family:monospace;
   font-size:20px;
}
#login-container{
    margin-top: 20px;;
    display: flex;
    justify-content: center;
}
#login-form {
    background-color:  #fff;
    padding: 20px;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.login-form .email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}
.login-form .password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}
.login-form .submit {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit:hover {
    background-color: #3f3c3c;
}

#password{
    display: none;
}