img{
    height: 35px;
    margin-left: 20px;
    padding: 10px;
    
}
@media (min-width: 1200px) {
    .container {
      max-width: 1220px;
      margin: auto;
     
    }
  }


footer{
    display: flex;
    justify-content: space-between;
    
}
footer>div>ul{
    margin: 0;
    list-style: none;
    
}
ul>:nth-child(1){
    font: 16px ;
    font-weight: bolder;
    margin-top: 10px;
    font-family:nyt-franklin, Arial, Helvetica, sans-serif;
}
ul>:nth-child(1):hover{
    color: rgb(238, 157, 51);
}
ul>li{
line-height: 25px;
width: fit-content;
font-size: 13px ;
color: #000000;
font-family:nyt-franklin, Arial, Helvetica, sans-serif;



}
#forth{
    border-left:1px solid rgb(199, 194, 194) ;
}
.icon{
    font-size: 14px;
    font-weight: bolder;  
}
ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: brown;
}
#copyrite{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: fit-content;
    gap: 10px;
    
}
#copyrite a{

        text-decoration: none;
        font-size:12px;
        font-weight: 200;
        color: rgb(68, 66, 66);
        font-family:nyt-franklin, Arial, Helvetica, sans-serif;
      
    
}
#copyrite>a:hover{
    text-decoration: underline;
    }
hr{
    margin: 0;
}

@media screen and (width<=770px) {
    footer>div{
        display: none;
    }
    #responsive{
        display: block;
        font: 14px ;
    font-weight: bolder;
    margin-top: 10px;
    font-family:nyt-franklin, Arial, Helvetica, sans-serif;
    line-height: 50px;
    }
   
}
@media screen and (width>= 771px) {
   
    #responsive{
        display: none;
    }
}

